@tailwind base;
@tailwind components;
@tailwind utilities;


/* src/index.css 또는 app.css에 추가 */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}